.Event-event {
  background-color: #66081d;
}

.Event-info {
  background-color: #585858;
}

td {
  border-bottom: 1px solid white;
}

tr:last-child > td {
  border-bottom: none;
}

@media screen and (max-width: 767px) {
  .Event-event {
    font-size: 0.7em;
  }
  .Event-info {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 768px) {
  .Event-info {
    font-size: 0.85em;
  }
}
