table {
  margin: auto;
  width: 350px;
  border-collapse: collapse;
  color: #dbdbdb;
  table-layout: fixed;
}

tr {
  min-height: 20px;
}

th {
  background-color: #003673;
  height: 30px;
  border-left: 1px solid #dbdbdb;
  transition-duration: 2s;
  word-wrap: break-word;
}

td {
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  transition-duration: 2s;
  word-wrap: break-word;
  padding: 5px;
}

th:first-of-type {
  border-top-left-radius: 10px;
  border-left: none;
}
td:first-of-type {
  border-left: none;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

@media screen and (min-width: 370px) {
  table {
    min-width: 60%;
    max-width: 93%;
    /* calc(16px + 7 * ((100vh - 320px) / 680)) */
    width: calc(60vw + (100vw / 7));
  }

  tr {
    height: 6vh;
  }
}
