.Home-bg-img {
  position: fixed;
  min-height: 360px;
  top: -50px;
  left: 0px;
  z-index: -1;
  transition-duration: 2s;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.Home-content {
  min-width: 360px;
  margin-top: 300px;
  padding-bottom: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.Home-content-title {
  padding-top: 60px;
  margin-bottom: 20px;
  text-decoration: underline dotted;
  transition-duration: 2s;
}

.Home-purpose {
  margin: auto;
  line-height: 22px;
  text-align: left;
  text-justify: inter-word;
  transition-duration: 2s;
}

.Home-purpose-header {
  margin: auto;
  text-align: center;
}

.Home-purpose-paragraph {
  margin: auto;
  margin-top: 20px;
  width: 300px;
}

@media screen and (max-width: 767px) {
  .Home-bg-img {
    height: 100vw;
    top: calc(70px - 15vh);
  }

  .Home-content {
    margin-top: calc(60px + 10 * ((50vh - 30px) / 16));
    padding-bottom: 25vh;
  }

  .Home-content-title {
    margin-bottom: 4vh;
    padding-top: 5rem;
    font-size: 1.6em;
  }

  .Home-purpose {
    margin: auto;
    margin-top: 2rem;
    line-height: 2rem;
    width: 100%;
    font-size: 0.7em;
  }

  .Home-purpose-header {
    margin: auto;
    width: 85%;
    font-size: 1.2em;
  }

  .Home-purpose-paragraph {
    margin-top: 3vh;
    width: 65%;
    line-height: 2.2rem;
  }
}

@media (min-width: 768px) {
  .Home-bg-img {
    height: max(50vw, 50vh);
    top: -6vw;
    left: 50%;
    margin-left: min(-25vw, -25vh);
  }

  .Home-content {
    margin-top: calc(60px + 10 * ((70vh - 30px) / 16));
    padding-bottom: 25vh;
  }

  .Home-content-title {
    padding-top: 4em;
    margin-bottom: 1.5em;
    font-size: 1.7em;
  }

  .Home-purpose {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 85%;
    font-size: 1.1em;
    line-height: 1.9em;
  }

  .Home-purpose-header {
    text-align: left;
    grid-column-start: 1;
  }

  .Home-purpose-paragraph {
    width: 80%;
    text-align: left;
    grid-column-start: 2;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
