.Home-bg-img {
  position: fixed;
  min-height: 320px;
  top: -50px;
  left: 0px;
  z-index: -1;
  transition-duration: 2s;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

.Home-content {
  min-width: 360px;
  margin-top: 300px;
  padding-bottom: 150px;
  font-size: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.Home-content-title {
  padding-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
  text-decoration: underline dotted;
  transition-duration: 2s;
}

.Home-purpose {
  margin: auto;
  line-height: 22px;
  text-align: left;
  text-justify: inter-word;
  transition-duration: 2s;
}

.Home-purpose-header {
  margin: auto;
  text-align: center;
  transition-duration: 2s;
}

.Home-purpose-paragraph {
  margin: auto;
  width: 300px;
  transition-duration: 2s;
}

@media screen and (max-width: 767px) {
  .Home-bg-img {
    height: 100vw;
    top: calc(70px - 15vh);
  }

  .Home-content {
    width: 100vw;
    margin-top: 35vh;
    padding-bottom: 25vh;
    font-size: calc(16px + 7 * ((100vw - 320px) / 680));
  }

  .Home-content-title {
    margin-bottom: 4vh;
    font-size: 2.8rem;
    padding-top: 5rem;
  }

  .Home-purpose-header {
    margin: auto;
    width: 92vw;
  }

  .Home-purpose {
    margin-top: 2rem;
    line-height: 2rem;
    width: 100%;
  }

  .Home-purpose-paragraph {
    width: 80%;
    line-height: 2.2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
