.Link {
  margin: auto;
  min-height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #66081d;
  border: 2px solid #003673;
  border-radius: 15px;
  transition-duration: 2s;
}

.Link-name {
  margin: auto;
  width: 100%;
  height: 40px;
  color: #dbdbdb;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .Link {
    height: 6vh;
    width: 70vw;
    margin-top: 4vh;
  }
}

@media screen and (min-width: 768px) {
  .Link {
    height: 6vh;
    margin-top: 4vh;
    width: 25%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
