.Events {
  min-height: 80vh;
}

.Events-table {
  margin: auto;
  transition-duration: 2s;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@media screen and (max-width: 767px) {
  .Events {
    min-height: 86vh;
    padding-bottom: 14vh;
  }

  .Events-table-container {
    padding-top: 12vh;
  }

  .Events-table-header {
    padding-top: 7vh;
    font-size: 1.2em;
    text-decoration: underline dotted;
  }

  .Events-table {
    padding-top: 2vh;
  }
}

@media screen and (min-width: 767px) {
  .Events {
    min-height: 86vh;
    padding-bottom: 14vh;
  }

  .Events-table-container {
    padding-top: 12vh;
  }

  .Events-table-header {
    padding-top: 9vh;
    font-size: 1.5em;
    text-decoration: underline dotted;
  }

  .Events-table {
    padding-top: 4vh;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
