.Header {
  min-height: 80px;
  max-height: 400px;
  min-width: 360px;
  width: 100%;
  background-color: #003673;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #dbdbdb;
  position: fixed;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 767px) {
  .Header {
    height: 10vh;
  }

  .Header-mobile {
    display: grid;
    margin: auto;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 33% 33% 33%;
    font-size: max(5vw, 5vh);
  }

  .Header-title {
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .Header-subtitle {
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 0.4em;
  }

  .Header-dark-toggle {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  .Header-large-screen {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .Header-mobile {
    display: none;
  }

  .Header-large-screen {
    height: 7vh;
    width: 100%;
    display: grid;
    grid-template-columns: 27% 8% 30% 8% 27%;
    font-size: max(2vh, 2vw);
  }

  .Header-menu {
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    height: 1.5em;
    width: 1.5em;
  }

  .Header-title {
    margin: auto;
    grid-column-start: 3;
  }

  .Header-dark-toggle {
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 5;
    height: 1.5em;
    width: 1.5em;
  }
}
